h1{
background-color:rgb(205,205,205);
padding: 50px;
}
h2{
background-color: rgb(205,205,205);
}
body{
    background-color:blanchedalmond;
}
img{
    background-color: rgb(48, 128, 202);
    padding: 500px 50px;
    
    
}
